= simple_form_for @ingredient, :validate => true, :html => { :class => 'form-horizontal' } do |f|
  = f.input  :name
  = f.input  :description, :as => :text, :input_html => { :rows => 5 }
  = f.input  :is_veg
  = f.button :submit
